* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 80%;
  margin: 0 auto;
}

h2 {
  margin-top: 30px;
  font-family: Inconsolata;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: -0.08em;
  text-transform: uppercase;

  color: #333333;
}

.content {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.right {
  max-width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 3;
}

.left {
  max-width: 45%;
}

h1 {
  font-family: Space Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 75px;
  letter-spacing: -0.035em;

  color: #333333;
}

p {
  max-width: 80%;
  font-family: Space Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: -0.035em;

  color: #4f4f4f;
}

button {
  max-width: 40%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Space Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;

  letter-spacing: -0.035em;
  text-transform: uppercase;

  color: #ffffff;
  background: #333333;
}

img {
  border-radius: 0px;
  width: 100%;
}

h5 {
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;

  color: #333333;
}

@media (max-width: 1100px) {
  .content {
    flex-wrap: wrap;
    justify-content: center;
  }

  .left {
    max-width: 80%;
    margin-bottom: 40px;
  }

  .right {
    max-width: 100%;
  }
  h1 {
    font-size: 48px;
    line-height: 71px;
    letter-spacing: -0.035em;
    margin-bottom: 40px;
  }

  p {
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.035em;
    margin-bottom: 30px;
  }

  button {
    font-size: 14px;
    line-height: 21px;
  }
}
